.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-primary);
    color: var(--color-dark2);
    font-weight: 100;   
}
.page404 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: 150px;
    font-family: monospace;
}
.page404 p {
    font-size: 24px;
}