/*CSS for the art section of the website. */

/* --- content adjustments art zone--- */
.artContent {
    width: 100%;
    display: flex;
    flex-grow: 1;
}
.artBox {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
    padding-top: var(--headerBot-height);
}
.gallery {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    background: #222;
    border-radius: 16px;
    overflow: hidden;
}
.gallery-main {
    flex:  1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark2);
}
.gallery-main img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.4);
}
.gallery-thumbs {
    flex: 2 1 5;
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 16px;
    padding: 12px 0;
    background: #222;
    cursor: grab;
    scrollbar-width: none;
}
.gallery-thumbs img {
    height: 80px;
    width: 120px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: border-color .2s;
    cursor: pointer;
    user-select: none;
}
.gallery-thumbs img.active {
    border-color: #E08970;
}
.gallery-thumbs::-webkit-scrollbar {
    display: none;
}