/* CSS for the landing page */
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-primary);
    color: var(--color-dark2);
    font-weight: 100;   
}
/* --- Content for start zone --- */
.startContent {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;    
}
/* --- centerpiece --- */
.centerPiece {     
    flex-grow: 1;          
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 50px;
}
/* --- Section/Link to showcase zone --- */
.startToShowcase {
    height: 65px;
    border-top: 2px dashed var(--color-dark2);
    cursor: pointer;
    background-color: transparent;    
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: auto;
}
.startToShowcase h2 {
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 5px;
    transform: scale(0.9,1.1);
}