/* --- --- --- --- */
.content {
    z-index: 400;
    top: 0;
    bottom: 0;
    position:absolute;
    
	width: 99%;
	height: 100%;
    background-color: #EDEDED;
    color: #292828;
    font-weight: 100;
    
    overflow: hidden;
}

.startContent {
    width: 100%;
    height: 100%;
    transition: opacity 0.25s ease-in;
}

/* --- Link to Work --- */
.startToWork {
    position: absolute;
    z-index: 800;
    bottom: 0;
    width: 100%;
	height: 65px;
    border-top: 2px dashed #292828;
    cursor: pointer;
    background-color: transparent;
    
    display: flex;
    justify-content: center;
    align-items: center; 
}
.startToWork h2 {
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 5px;
    transform: scale(0.9,1.1);
}

/* --- Link to Social/Contact --- */
.socialBar {
    position: absolute;
    z-index: 700;
    right: 0;
    top : 150px;
    
    height: calc(100% - 215px);
    width: 70px;
    
    border-left: 2px dashed #292828;
    background-color: transparent;
}
.socialBar h2 {
    position: absolute;
    left: -80px;
    top: 80%;
    
    font-size: 26px;
    font-weight: 200;
    letter-spacing: 5px;
    transform: scale(0.9,1.1);
    transform: rotate(270deg);
}

@media screen and (max-width: 800px) {
    .socialBar {
        top: 200px;
        height: calc(100% - 265px);
    }
}
.socialIcon {
    position: relative;
    margin-left: 10px;
    margin-top: 20px;
    
    height: 50px;
    width: 50px;
    border: 2px solid #292828;
    background-color: rgba(41,40,40,1);
        
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    
    opacity: 1;
    transition: all 0.15s ease-in-out;
}
.socialIcon:hover {
    background-color: rgba(41,40,40,0.5);
}
.socialIcon::before {    
    content: attr(data-name);
    font-weight: 400;
    font-size: 16px;
    color: #EDEDED;
    
    opacity: 0;
    
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
    transition: all 0.1s ease-in-out 0.1s;
}
.socialIcon:hover::before {
    opacity: 1;
}


/* --- Center Piece --- */
.centerPiece {
    margin-top: 150px;
    width: 100%;
    height: calc(100% - 215px);
    
    display: flex;
    justify-content: center;
    align-items: center; 
}
@media screen and (max-width: 800px) {
    .centerPiece {
        margin-top: 200px;
        height: calc(100% - 265px);
    }
}

/* --- Center Eye Catcher --- */
.eyeCatcher {    
    position: relative;
    z-index: 0;
    
    width: 400px;
    height: 400px;
    border-radius: 50%;
    
    background-color: #EDEDED;
    border: 4px dashed #292828;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 550px), (max-height: 600px)  {
    .eyeCatcher {
        display: none;
    }
}



/* --- Center Eye Catcher --- */
.eyeCatcherBottom {    
    position: absolute;
    z-index: 100;
    
    width: 400px;
    height: 400px;
    
    background-color: #E08970; 
    background-color: #9C5F4E;
    border-radius: 50%;
    box-shadow: inset 0 0 125px black;
}
.eyeCatcherTop {
    position: absolute;
    z-index: 300;
    
    width: 404px;
    height: 404px;
    
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 800px #EDEDED;
}

.thingy {
    position: absolute;
    z-index: 200;
    
    width: 55px;
    height: 55px;
    border-radius: 50%;
    
    background-color: #292828;
    box-shadow: 0 0 50px black;
}
