/* CSS for the header and nav bar, which includes a full, 
a minimized as well as the mobile version */
:root {
    --headerTop-height: 100px;     
    --headerTop-height-mobile: 150px; 
}
/* --- Header --- */
.header {
    z-index: 90;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    transition: top 0.5s ease;
}
/* --- Header Top Bar --- */
/*#region*/
.headerTop {
    height: var(--headerTop-height);
	background-color: var(--color-dark1);   
    padding: 0 15px;  
    display: flex;
    justify-content: space-between;  
    align-items: center;    
}
/* --- Header Top Left Logo--- */ 
.logo {
    display: flex;
    align-items: center;
    height: 100%;
}
.logoImg {
    height: 90px;
    width: auto;
}
.logoName {
    margin-left: 15px;
    margin-top: 20px;
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1px;  
}
.logoName h1 {
    font-size: 50px;
    color: var(--color-primary);
    transition: color 0.5s ease-in-out;
}
.logoName h1:hover {
    color: var(--color-highlight);
}
/* --- Header Top Right Slogan --- */
.slogan {
    margin-top: 75px;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 5px;  
    color: var(--color-primary);
    text-transform: uppercase;
}
/* --- Header Top mobile responsiveness --- */
@media screen and (max-width: 800px) {
    .headerTop {
        height: var(--headerTop-height-mobile);
        justify-content: center;
    }
    .slogan {
        display: none;
    }

}
@media screen and (max-width: 450px) {
    .logoName {
        display: none;
    }
    .logoImg {
        height: 130px;
        padding: 5px;       
    }
}
/*#endregion*/

/* --- Header Bot Bar --- */
/*#region*/
.headerBot {
    display: block;
	height: 50px;
	background-color: var(--color-dark2);
    overflow: hidden; 
}
/* --- Header Bot Menu --- */
.menu {
    display:  flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    list-style: none; 
}
/* --- Header Bot Menu Buttons --- */
.menuButton {
    display: block;
    background-color: var(--color-dark2);
    padding: 6px 35px;
    border: var(--border-style4);
    font-size: 30px;
    text-align: center;
    color: var(--color-primary); 
    cursor: pointer;
    transition: color 0.25s ease-in-out;
}
.menuButton:hover {
    background-color: var(--color-dark1);
    color: var(--color-highlight);
}
.menuButtonActive{
    color: var(--color-highlight);
}
/* --- Header Bot Mobile Menu --- */
.mobileMenu {
    flex-direction: column;
    justify-content: flex-start;
}
/* --- Spacer Menu Point --- */
.menu li:nth-child(2) .menuButton{
    display: none; 
}
.mobileMenuButton {
    display: none; 
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;   
}
/* --- Header Bot Menu mobile responsiveness--- */
@media screen and (max-width: 800px) {
    .mobileMenuButton {
        display: block; 
    }
    .menu li:nth-child(2) .menuButton{
        display: block; 
    }
}
/*#endregion*/

/* --- minimized header (only bot bar showing) animation --- */
/*#region*/
.headerMinimized{
    top: calc(-1 * var(--headerTop-height));
}
@media screen and (max-width: 800px) {        
    .headerMinimized{
        top: calc(-1 * var(--headerTop-height-mobile));
    }
}
/* --- Collapse header (no header bar) animation --- */
.headerOut{
    top: calc(-1 * var(--header-height));
}
@media screen and (max-width: 800px) {        
    .headerOut{
        top: calc(-1 * var(--header-height-mobile));
    }
}
/*#endregion*/