/* CSS for the landing page */
/* --- Content for start zone --- */
.startContent {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;    
}
/* --- centerpiece --- */
.centerPiece {     
    flex-grow: 1;          
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: calc(var(--header-height) / 2);
}
@media (max-height: 450px) {
    .centerPiece {
        margin-top: 0;
    }   
}
/* --- Section/Link to showcase zone --- */
.startToShowcase {
    height: 65px;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: auto;
    border-top: 2px dashed var(--color-dark2);
    cursor: pointer;
    background-color: transparent; 
}
.startToShowcase h2 {
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 5px;
    transform: scale(0.9,1.1);
}