/* CSS for the loading screen and related animations */
.loadingScreenTop, .loadingScreenBot, .loadingCircles {
    will-change: transform, opacity;
}
/*#region*/
.loadingScreen {
    z-index: 100;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.loadingScreenMid {
	position: absolute;
	height: 50%;
	width: 100%;
	border-bottom: 4px solid transparent;
	transform: scaleX(0.1); 
}
.loadingScreenTop, .loadingScreenBot {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: var(--color-primary);
    transform: translateY(0%);
    transition: transform 1s ease 1s, border-color 0s ease 1s;
}
.loadingScreenTop {
    border-bottom: 2px solid transparent;    

}
.loadingScreenBot {
	top: 50%;
    border-top: 2px solid transparent;
}
/*#endregion*/

/* Animation of the loading screen featuring 3 individual parts circling around the center of the screen */
/*#region*/
.loadingAnimation {
    z-index: 101;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}
.loadingAnimation p {
    color: var(--color-dark2);
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    transform: scale(0.9,1.0);
}
.loadingCircles {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: 100;
}
.loadingCircles * {
    position: absolute;
    border-radius: 50%;
}
.loadingCircle1 {
    border: 5px solid transparent;
    border-top: 5px solid var(--color-dark2);
    width: 190px;
    height: 190px;
    animation: spin1 1.2s linear infinite;
}
.loadingCircle2 {
    border: 8px solid transparent;
    border-top: 8px solid var(--color-dark2);
    width: 225px;
    height: 225px;
    animation: spin2 2.2s linear infinite;
}
.loadingCircle3 {
    border: 2px solid transparent;
    border-top: 2px solid var(--color-dark2);
    border-bottom: 1px solid var(--color-dark2);
    width: 210px;
    height: 210px;
    animation: spin3 2.6s linear infinite;
}
@keyframes spin1 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin2 {
    0% { transform: rotate(40deg); }
    100% { transform: rotate(400deg); }
}
@keyframes spin3 {
    0% { transform: rotate(240deg); }
    100% { transform: rotate(-120deg); }
}
/*#endregion*/

/* When page is loaded the loading animation fades out and top and bottom half of the loading screen open up */
/*#region*/
.loadedAnimation .loadingCircles {
	animation: loadingCircleFade 0.8s 0.2s forwards;
}
.loadedAnimation p {
	animation: loadingWordShrink 0.8s 0.0s forwards;
}
.loadedAnimation .loadingScreenMid {
	animation: loadingMidExpand 0.5s 0.5s forwards;
}
.loadedAnimation .loadingScreenTop {
    transform: translateY(-100%);
    border-color: var(--color-dark2);
}
.loadedAnimation .loadingScreenBot {
    transform: translateY(100%);
    border-color: var(--color-dark2);
}
@keyframes loadingCircleFade {
	0% {opacity: 100;}
	100% {opacity: 0;}
}
@keyframes loadingWordShrink {
	0% {transform: scale(0.9,1.2);}
	100% {transform: scale(0.9,0);}
}
@keyframes loadingMidExpand {
	0% {transform: scaleX(0.1); border-color: transparent;}
	20% {transform: scaleX(0.1); border-color: var(--color-dark2);}
	99% {transform: scaleX(1); border-color: var(--color-dark2);}
	100% {transform: scaleX(1); border-color: transparent;}
}
/*#endregion*/