/*CSS for the work section of the website. This includes the 
Showcase section, where you can select the different examples
as well as their expanded sites, where you can see the project
in detail */

/* --- content adjustments showcase zone--- */
.showcaseContent {
    width: 100%;
    display: flex;
    flex-grow: 1;
}
/* --- showcase zone--- */
.showcaseBackToStartButton {
    position: fixed;
    z-index: 10;
    top: 65px;
    left: calc(50% - 26px);
    width: 50px;
    height: 50px;
    transition: opacity 0.6s ease-in; 
    background-image: url("../img/icons/backBlack.svg");
    background-position: 50% -100%;
    background-repeat: no-repeat;    
    background-size: 40px 40px;
}
.showcaseBackToStartButton::after{
    content: "BACK";
    display: block;
    justify-self: center;
    margin-top: 24px;
}

/* --- work showcase frame with picture and description --- */
/*#region*/
/* --- showcase Box --- */
.showcaseBox {
    height: 100%;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
    padding-top: var(--headerBot-height);
}
/* --- showcase frame for individual pic and description --- */
.showcaseFrame {
    height: 80%;
    width: 100%;
    display: flex;   
    background: center center / cover no-repeat fixed;
    transition: background-image 0.2 ease;
    filter: grayscale(80%);
    transition: filter 0.8s ease;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* --- showcase title ---*/
.showcaseTitle {
    text-align: center;
    text-decoration: none;
    color: var(--color-primary);
    font-size: 50px;    
    display: block;
    background-color: rgba(41, 40, 40, 0.5);
    transition: all 1s ease, padding 1ms, opacity 0.25s; 
}
/*padding separated to prevent flickering animation */
.showcaseTitleDeco {
    padding: 5% 20% 5% 20%;
}
.showcaseTitle li {
    display: none;
}
/*#endregion*/

/* --- Animations showcase change frames--- */
/*#region*/
.showcaseNextA{
    animation: animNextSCFrameA 0.6s forwards;
}
@keyframes animNextSCFrameA {
    0% {top: 0%;}
    100% {top: -100%;}
}
@keyframes animNextSCFrameAx {
    0% {transform: translateY(0%);}
    100% {transform: translateY(-100%);}
}
.showcaseNextB{
    animation: animNextSCFrameB 0.6s forwards;
}
@keyframes animNextSCFrameB {
    0% {top: 100%;}
    100% {top: 0%;}
}
@keyframes animNextSCFrameBx {
    0% {transform: translateY(100%);}
    100% {transform: translateY(0%);}
}
.showcasePrevA{
    animation: animPrevSCFrameA 0.6s forwards;
}
@keyframes animPrevSCFrameA {
    0% {top: 0%;}
    100% {top: 100%;}
}
.showcasePrevB{
    animation: animPrevSCFrameB 0.6s forwards;
}
@keyframes animPrevSCFrameB {
    0% {top: -100%;}
    100% {top: 0%;}
}
.showcaseShake{
    animation: animEndSCFrame 0.6s forwards;
}
@keyframes animEndSCFrame {
    0% {top: 0%;}
    25% {top: 1%;}
    50% {}
    75% {top: -1%;}
    100% {top: 0%;}
}
/*#endregion*/

/* --- Showcase shortcut navigation sidebar --- */
/*#region*/
.showcaseNavigation {
    width: 7%;
    height: 100%;
    margin-left: 0%;
    margin-right: 3%;    
    position: relative;
    display: flex;
    align-items: center; 
}
.showcaseSidebar {
    width: 100%;    
    margin-top: var(--headerBot-height);
    transform: translateX(-110%);
    transition: transform 0.8s ease;
}
.showcaseSidebarIn {
    transform: translateX(0);
}
/* ---  Showcase shortcut sidebar buttons --- */
.showcaseSidebarButton {
    width: 100%;
    height: 40px;
    border-top: var(--border-style4);
    cursor: pointer;    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    float: left;
}
.showcaseSidebarButton:last-child {
    border-bottom: var(--border-style4);
}
.showcaseSidebarButtonDesign {
    background-color: rgba(0, 0, 0, 0);
    border: var(--border-style2);
    width: 90%;
    height: 80%;
    padding-right: 10%;
    position: relative;
    transform: translateX(-110%);
    transition: transform 0.8s ease;
}
.showcaseSidebarButtonActive {
    background-color: var(--color-dark2);
}
.showcaseSidebarButtonDesignLoad {
    transform: translateX(0);
}
/*#endregion*/

/* ---  open/close detailed project view from showcase frame --- */
/*#region*/
/* --- Animations open/close project view from showcase frame --- */
.projectOpening {
    animation: animPrViOpen 0.8s forwards;
}
@keyframes animPrViOpen {
    0% {height: 70%; width: 80%;}
    40% {height: 40%; width: 40%;}
    100% {height: 100%; width: 100%;}
}
.projectClosing {
    animation: animPrViClose 0.8s forwards;
}
@keyframes animPrViClose {
    0% {height: 100%; width: 100%;}
    60% {height: 40%; width: 40%;}
    100% {height: 70%; width: 80%;}
}
/* --- project view --- hide classes from showcase view --- */
.projectView {
    overflow-y: scroll;
    scroll-snap-type: block proximity;    
    justify-content: center;
}
.projectView .showcaseNavigation {
    display: none;
}
.projectView .showcaseBox {
    width: 100%;
    position: fixed;
    align-self: center;
    align-items: initial;
    padding-top: 0;   
}
.projectView .showcaseFrame {
    cursor: default;
    height: 100%;
}
.projectView .showcaseTitle {
    opacity: 0;
}
/* --- return from project to showcase view button + animation --- */
.projectReturnButton {
    z-index: 90;
    position: fixed;
    right: 2%;    
    height: 50px;
    width: 50px; 
    cursor: pointer;
    transform: translateY(-100%);
    transition: transform 0.8s ease;
    color: var(--color-primary);
    background-image: url("../img/icons/backWhiteC.svg");
    background-position: 50% -40%;
    background-repeat: no-repeat;    
    background-size: 40px 40px;    
}
.projectReturnButton::after{
    content: "BACK";
    display: block;
    justify-self: center;
    margin-top: 30px;
}
.projectReturnButtonIn {
    transform: translateY(0);
}
/*#endregion*/

/* --- sections for detailed description of project --- */
/*#region*/
/* --- project box contains viewport sized panels with various media detailing the project  --- */
.projectBox { 
    width: 100%;
}
.projectBoxPanelContainer { 
    color: var(--color-dark2);
    font-weight: 100;
    font-size: 18px;
    top: 100%;
    position: relative;
    display: none;
    margin-top: -70svh;
    padding-top: 70svh;
}
.projectBoxIn {
    animation: animPrBoxIn  0.8s forwards;
    animation-delay: 0.4s;
}
@keyframes animPrBoxIn {
    0% {top: 100%;}
    100% {top: 0%;}
}
.projectBoxOut {
    animation: animPrBoxOut 0.8s forwards;
}
@keyframes animPrBoxOut {
    0% {top: 0%;}
    100% {top: 100%;}
}
/* --- project summary/keynotes on top of project box --- */
.projectBoxInfo {
    margin-top: 70svh;
    height: 30svh;
    background-color:  var(--color-dark2);
    color: var(--color-primary);
}
.projectBoxInfo::after {
    content: "⇣ SCROLL DOWN ⇣";
    position: fixed;
    bottom: 2svh;
    right: 2svw;
    opacity: 1;
    transition: opacity 0.3s ease;
}
/*#endregion*/

/* --- viewport sized panels for various project details/media --- */
/*#region*/
.projectBoxPanel {
    height: 100svh;
    display: flex;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;     
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    scroll-snap-align: end;
}
.projectBoxPanel video {
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover;
}
.projectBoxPanel figcaption {
    position: absolute;
    margin-top: 75svh;
    margin-left: 0vw;
    height: 10svh;
    width: 60svw;
    border: var(--border-style2);
    background-color: #757575;
}
.projectBoxPanelEnd {
    height: 10svh;
    background-color: red;
}
/*#endregion*/