html {
}

body {
    background: black;
    width: 99%;
    height: 100%;
    margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    overflow-y: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
a {
    text-decoration: none;
}

/*--------------------------------------------------------*/
/*-----------------jquery general classes--------------------*/
.displayNone {
    display: none;
}
.opacityNone {
    opacity: 0;
}
.snap{
    scroll-snap-align: end;
}

.switchButtonIcon p:nth-child(1){
    display: block; 
}
.switchButtonIcon p:nth-child(2){
    display: none; 
}
.switchButtonIconOther p:nth-child(1){
    display: none; 
}
.switchButtonIconOther p:nth-child(2){
    display: block; 
}


/*-----------------image classes--------------------*/
.imgSizeSqr {
    width: 400px;
    height: auto;
}

.imgPosCent {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.img1 {
    margin-top: 0px;
    width: 100%;
}

/*-----------------unused--------------------*/
.justPallete{
    color: #4075E8, #363534, #EDEDED, #292828, #6DDFFF, #27f796, #E08970
}