/* --- content adjustments --- */
.workContent {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
}
/* --- Work Menu--- */
.workBackButton {
    position: absolute;
    z-index: 11;
    top: 55px;
    left: calc(50% - 27px);
    width: 50px;
    height: 50px;

    transition: opacity 0.6s ease-in;
    border: 2px dashed #292828;
}

/* --- Work Showcase picture and description --- */
/*#region*/
/* --- Work Showcase Box --- */
.workBox {
    z-index: 10;
    height: 100%;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.workFrame {
    -webkit-background-size: cover;
    background-size: cover;
    
    background-attachment: fixed;  
    background-position: center center; 
    background-repeat: no-repeat;

    height: 80%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: calc(5% + 50px);
    margin-bottom: 5%;
    position: static;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center; 
    
    cursor: pointer;
}
/* --- Work Showcase pictures --- */
.workPic1 {
    background-image: url(../img/w10.jpg);     
}
.workPic2 {
    background-image: url(../img/w20.jpg); 
}
.workPic3 {
    background-image: url(../img/w30.jpg); 
}
.workPic4 {
    background-image: url(../img/w40.jpg); 
}
.workPic5 {
    background-image: url(../img/w40.jpg); 
}
/* --- Work Description ---*/
.workDesc {
    text-align: center;
    text-decoration: none;
    color: #EDEDED;
    font-size: 50px;
    
    display: block;
    background-color: rgba(41, 40, 40, 0.5);
    transition: all 1.5s ease, padding 1ms, opacity 0.25s; 
}
.workDescDeco{
    padding: 5% 20% 5% 20%;
}
.workDesc p {
    display: none;
}
/* --- Work Showcase Grey filter --- */
.greyFilter {    
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
    transition: all 0.8s ease, background 1ms;
    -webkit-transition: all  0.8s ease, background 1ms;   
}
.removeGreyFilter {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
/*#endregion*/

/* --- Animations work-showcase change work --- */
/*#region*/
.workNextA{
    -webkit-animation: aniNextWA 0.6s forwards;
    animation: aniNextWA 0.6s forwards;
}
    @-webkit-keyframes aniNextWA {
        0% {top: 0%;}
        100% {top: -100%;}
    }
    @keyframes aniNextWA {
        0% {top: 0%;}
        100% {top: -100%;}
    }
.workNextB{
    -webkit-animation: aniNextWB 0.6s forwards;
    animation: aniNextWB 0.6s forwards;
}
    @-webkit-keyframes aniNextWB {
        0% {top: 100%;}
        100% {top: 0%;}
    }
    @keyframes aniNextWB {
        0% {top: 100%;}
        100% {top: 0%;}
    }
.workPrevA{
    -webkit-animation: aniPrevWA 0.6s forwards;
    animation: aniPrevWA 0.6s forwards;
}
    @-webkit-keyframes aniPrevWA {
        0% {top: 0%;}
        100% {top: 100%;}
    }
    @keyframes aniPrevWA {
        0% {top: 0%;}
        100% {top: 100%;}
    }
.workPrevB{
    -webkit-animation: aniPrevWB 0.6s forwards;
    animation: aniPrevWB 0.6s forwards;
}
    @-webkit-keyframes aniPrevWB {
        0% {top: -100%;}
        100% {top: 0%;}
    }
    @keyframes aniPrevWB {
        0% {top: -100%;}
        100% {top: 0%;}
    }
.workShake{
    -webkit-animation: aniShakeW 0.6s forwards;
    animation: aniShakeW 0.6s forwards;
}
    @-webkit-keyframes aniShakeW {
        0% {top: 0%;}
        25% {top: 1%;}
        50% {}
        75% {top: -1%;}
        100% {top: 0%;}
    }
    @keyframes aniShakeW {
        0% {top: 0%;}
        25% {top: 1%;}
        50% {}
        75% {top: -1%;}
        100% {top: 0%;}
    }
/*#endregion*/

/* --- Work Showcase shortcut bar --- */
/*#region*/
.workShortcutSide {
    z-index: 10;
    width: 7%;
    height: 100%;
    margin-left: 0%;
    margin-right: 3%;
    
    position: relative;
    display: flex;
    align-items: center; 
}
.workShortcutBar {
    width: 100%;
    display: none;
    margin-top: 50px;
}
/* ---  Work Showcase shortcut bar animations --- */
.workShortcutSideSwooshIn {
    -webkit-animation: aniSwooshInWSB 0.8s forwards;
    animation: aniSwooshInWSB 0.8s forwards;
}
    @-webkit-keyframes aniSwooshInWSB {
        0% {left: -100%;}
        100% {left: 0%;}
    }
    @keyframes aniSwooshInWSB {
        0% {left: -100%;}
        100% {left: 0%;}
    }
.workShortcutSideSwooshOut {
    -webkit-animation: aniSwooshOutWSB 0.8s forwards;
    animation: aniSwooshOutWSB 0.8s forwards;
}
    @-webkit-keyframes aniSwooshOutWSB {
        0% {left: 0%;}
        100% {left: -10%;}
    }
    @keyframes aniSwooshOutWSB {
        0% {left: 0%;}
        100% {left: -10%;}
    }
/* ---  Work Showcase shortcut bar buttons --- */
.workShortcutButton {
    width: 100%;
    height: 40px;
    border-top: 4px solid #292828;
    cursor: pointer;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    float: left;
}
.workShortcutButton:last-child {
    border-bottom: 4px solid #292828;
}
.workShortcutButtonDesign {
    background-color: rgba(0, 0, 0, 0);
    border-top: 2px solid #292828;
    border-bottom: 2px solid #292828;
    border-right: 2px solid #292828;
    width: 90%;
    height: 80%;
    padding-right: 10%;
    position: relative;
    display: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.workShortcutButtonActive {
    background-color: #292828;
}
/* ---  Work Showcase shortcut bar buttons animation --- */
.workShortcutButtonDesignLoad {
    -webkit-animation: aniLoadWSB 1s forwards;
    animation: aniLoadWSB 1s forwards;
}
    @-webkit-keyframes aniLoadWSB {
        0% {left: -100%;}
        100% {left: 0%;}
    }
    @keyframes aniLoadWSB {
        0% {left: -100%;}
        100% {left: 0%;}
    }
/*#endregion*/

/* ---  Animations open/close Work Showcase --- */
/*#region*/
/* --- Work Showcase open/close Images --- */
.workOpenLargeDesc {
    -webkit-animation: aniOpenLD 0.8s forwards;
    animation: aniOpenLD 0.8s forwards;
}
    @-webkit-keyframes aniOpenLD {
        0% {top: 0%; width: 80%;}
        70% {top: -30%; width: 80%;}
        100% {top: -30%; width: 100%;}
    }
    @keyframes aniOpenLD {
        0% {top: 0%; width: 80%;}
        70% {top: -30%; width: 80%;}
        100% {top: -30%; width: 100%;}
    }
.workCloseLargeDesc {
    -webkit-animation: aniCloseLD 0.8s forwards;
    animation: aniCloseLD 0.8s forwards;
}
    @-webkit-keyframes aniCloseLD {
        0% {top: -30%; width: 100%;}
        30% {top: -30%; width: 80%;}
        100% {top: -130%; width: 80%;}
    }
    @keyframes aniCloseLD {
        0% {top: -30%; width: 100%;}
        30% {top: -30%; width: 80%;}
        100% {top: -130%; width: 80%;}
    }
/* --- Work Showcase open/close detailed description --- */
.workContentLargeDesc { 
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow-y: scroll;

    scroll-snap-type: block proximity;
    height: 100vh;
}
.workContentLargeDesc .workShortcutSide {
    display: none;
}
.workContentLargeDesc .workFrame {
    padding-top: 15%;
    padding-bottom: 15%;
    cursor: default;
}
.workContentLargeDesc .workDesc {
    opacity: 0;
}
/* --- Work Showcase return to Showcase menu button --- */
.workContentLargeReturnButton {
    z-index: 21;
    position: fixed;
    top: 0%;
    left: 2%;
    
    height: 50px;
    width: 50px;
    background-color: rgba(41, 40, 40, 0.5);
    
    cursor: pointer;
}
.workContentLargeReturnButtonSwooshIn {
    -webkit-animation: aniSwooshInWCLRB 0.8s forwards;
    animation: aniSwooshInWCLRB 0.8s forwards;
}
    @-webkit-keyframes aniSwooshInWCLRB {
        0% {top: -100%;}
        100% {top: 0%;}
    }
    @keyframes aniSwooshInWCLRB {
        0% {top: -100%;}
        100% {top: 0%;}
    }
.workContentLargeReturnButtonSwooshOut {
    -webkit-animation: aniSwooshInWCLRBo 1.2s forwards;
    animation: aniSwooshInWCLRBo 1.2s forwards;
}
    @-webkit-keyframes aniSwooshInWCLRBo {
        0% {top: 0%;}
        100% {top: -100%;}
    }
    @keyframes aniSwooshInWCLRBo {
        0% {top: 0%;}
        100% {top: -100%;}
    }
/*#endregion*/

/* --- work large desc --- */
.workDescBig { 
    position: absolute;
    z-index: 20;
    
    height: 75%;
    width: 100%;
    background-color: rgba(237, 237, 237, 100);
    
    color: #292828;
    font-weight: 100;
    font-size: 18px;
}
.workDescBigFadeIn {
    -webkit-animation: aniFadeInWDB 0.8s forwards;
    animation: aniFadeInWDB 0.8s forwards;
}
    @-webkit-keyframes aniFadeInWDB {
        0% {top: 100%;}
        100% {top: 70%;}
    }
    @keyframes aniFadeInWDB {
        0% {top: 100%;}
        100% {top: 70%;}
    }
.workDescBigFadeOut {
    -webkit-animation: aniFadeOutWDB 0.8s forwards;
    animation: aniFadeOutWDB 0.8s forwards;
}
    @-webkit-keyframes aniFadeOutWDB {
        0% {top: 70%;}
        100% {top: 100%;}
    }
    @keyframes aniFadeOutWDB {
        0% {top: 70%;}
        100% {top: 100%;}
    }

.workDescBigBlackInfo {
    width: 100%;
    height: 30vh;
    background-color:  #292828;
    color: #EDEDED;
}
.workDescBigBlackInfo ::after {
    content: "⇣ SCROLL DOWN ⇣";

    position: absolute;
    bottom: 46vh;
    right: 2vw;

    text-shadow: -1px 0 #292828, 0 1px #292828, 1px 0 #292828, 0 -1px #292828;
}

.workDescBigPanel {
    height: 100vh;

    display: flex;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden; 
    
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
}

.workDescBigPanel video {
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover;
}
.workDescBigPanelTextbox {
    position: absolute;

    margin-top: 75vh;
    margin-left: 0vw;
    height: 10vh;
    width: 60vw;

    border: 2px solid #292828;
    background-color: #757575;
}

.workDescBigPanelEnd {
    height: 30vh;
    background-color: red;
}
