.content {
  z-index: 10;
  top: 100px;
  position:absolute;    
  background-color: #EDEDED;
  color: #292828;
  font-weight: 100;    
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .content {
    top: 150px;
  }
}