.content {
  z-index: 10;
  top: var(--headerTop-height);
  position:absolute;    
  background-color: #EDEDED;
  color: #292828;
  font-weight: 100;    
  overflow-y: scroll;
  overflow: hidden;
  width: 100%;
}
